body{
background-image: url(fundo.jpg);
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
margin: 0; 
padding: 0; 

}
.title{
    color: rgb(25, 20, 20);
    text-align: center;
    margin:0;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    border-radius: 30px;
    background-color: rgb(92, 91, 89);
    width: 600px;
    height: 30px;
}
.caixa-do-titulo{
width: 270px;
height: 90px;
background-color: cornsilk;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
box-shadow: 5px 5px 0px rgb(66, 65, 65);
border-radius: 15px;
}
.icon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(92, 91, 89);
}
.container-dos-pratos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.caixa-prato1{
    width:400px;
height: 600px;
background-color: cornsilk;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
box-shadow: 5px 5px 0px rgb(66, 65, 65);
border-radius: 15px;
}
.caixa-prato2{
    width: 400px;
height: 600px;
background-color: cornsilk;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
box-shadow: 5px 5px 0px rgb(66, 65, 65);
border-radius: 15px;
}
.caixa-prato3{
    width: 400px;
height: 600px;
background-color: cornsilk;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
box-shadow: 5px 5px 0px rgb(66, 65, 65);
border-radius: 15px;
}